html, body {
    color: #FFF;
    font-size: 16px;
    font-family: 'Century Gothic', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.content-wrapper {
    background-image: url('/admin/images/background.png') !important;
    padding: 16px;
}

.skin-black .main-sidebar {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.box-body {
    color: black;
}

#image-preview {
    width: 65vw;
    height: 65vw;
    margin: 35px auto;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-color: #ffffff;
    color: #000;
}

#image-preview input {
    line-height: 65vw;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

#image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.6;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 320px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

#uploadform-excelfile {
    border: 1px solid gray;
    color: darkblue;
    background-color: white;
    padding: 6px 16px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}

.upload-report span {
    color: #003311;
    font-weight: bold;
    font-size:1.2em;
    margin: 0 3px;
}

@media screen and (max-width: 640px) {
    .content-wrapper {
        padding: 2px;
    }

    .content {
        padding: 2px !important;
    }

}