*::after, *::before {
    box-sizing: border-box;
}

.cd-cart-container {
    line-height: 1;
    font-family: Roboto, sans-serif;
    font-size: .5rem;
}

.cd-cart-container::before {
    /* dark bg layer visible when the cart is open */
    content: '';
    position: fixed;
    z-index: 20;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

.cd-cart-container.cart-open::before {
    opacity: 1;
    visibility: visible;
}

.cd-cart-trigger,
.cd-cart {
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: transform .2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
    border-radius: 10px;
}

.empty .cd-cart-trigger, .empty
.cd-cart {
    /* hide cart */
    transform: translateY(150px);
}

@media only screen and (min-width: 1170px) {
    .cd-cart-trigger,
    .cd-cart {
        bottom: 40px;
    }
}

.cd-cart-trigger {
    /* button that triggers the cart content */
    z-index: 725;
    height: 72px;
    width: 72px;
    /* replace text with image */
    text-indent: 100%;
    background-color: #FFF0CC;
    white-space: nowrap;
    border-radius: 10px 0 10px 10px;
}

.cd-cart-trigger::after, .cd-cart-trigger::before {
    /* used to create the cart/'X' icon */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 100%;
    background: url(/images/cart/cd-icons-cart-close.svg) no-repeat 0 0;
    transition: opacity .5s, transform .5s;

}

.cd-cart-trigger::after {
    /* 'X' icon */
    background-position: -72px 0;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.cart-open .cd-cart-trigger::before {
    opacity: 0;
}

.cart-open .cd-cart-trigger::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
}

.cd-cart-trigger .count {
    /* number of items indicator */
    position: absolute;
    top: -10px;
    right: -10px;
    height: 28px;
    width: 28px;
    background: #55BB16;
    color: #ffffAA;
    /*text-shadow: 0 0 1px #fff, 0 0 2px #ffe0c2;*/
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    text-indent: 0;
    transition: transform .2s .5s;
}

.cd-cart-trigger .count li {
    /* this is the number of items in the cart */
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
}

.cd-cart-trigger .count li:last-of-type {
    visibility: hidden;
}

.cd-cart-trigger .count.update-count li:last-of-type {
    animation: cd-qty-enter .15s;
    animation-direction: forwards;
}

.cd-cart-trigger .count.update-count li:first-of-type {
    animation: cd-qty-leave .15s;
    animation-direction: forwards;
}

.cart-open .cd-cart-trigger .count {
    transition: transform .2s 0s;

    transform: scale(0);
}

.empty .cd-cart-trigger .count {
    /* fix bug - when cart is empty, do not animate count */
    transform: scale(1);
}

.cd-cart-trigger:hover + div .wrapper {
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}

.cart-open .cd-cart-trigger:hover + div .wrapper {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.cd-cart {
    /* cart content */
    z-index: 50;
    width: 90%;
    max-width: 750px;
    height: 550px;
    max-height: 90%;
    pointer-events: none;
}

.cd-cart .wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    height: 72px;
    width: 72px;
    border-radius: 10px;
    transition: height .4s .1s, width .4s .1s, box-shadow .3s;
    transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    background: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
    pointer-events: auto;
}

.cd-cart header, .cd-cart footer {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
}

.cd-cart header, .cd-cart .body {
    opacity: 0;
}

.cd-cart header {
    top: 0;
    border-radius: 10px 10px 0 0;
    padding: 5px 10px;
    height: 50px;
    background-color: #f7ffF2;
    transition: opacity .2s 0s;
    border-bottom: 3px solid #e6e6e6;
}

.cd-cart footer {
    bottom: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
    background-color: #FFF0CC;
    overflow: hidden;
}

.cd-cart header h2 {
    top:-17px;
    color: #1b341c;
}

.cd-cart .undo {
    float: right;
    font-size: 1.6em;
    padding: 5px 15px;
    top: -18px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
    color: #808b97;
}

.cd-cart .undo a {
    text-decoration: underline;
    color: #2b3e51;
}

.cd-cart .undo a:hover {
    color: #2c97de;
}

.cd-cart .undo.visible {
    opacity: 1;
    visibility: visible;
}

.cd-cart .checkout {
    display: block;
    height: 72px;
    line-height: 72px;
    margin-right: 72px;
    background: #2c97de;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    transition: all .2s 0s;
}

.cd-cart .checkout:hover {
    background: #399eFF;
}

.cd-cart .checkout em {
    font-size: 1.4em;
    display: inline-block;
    transform: translateX(40px);
    transition: transform 0s .2s;

}

.cd-cart .checkout em::after {
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    right: 0;
    content: '';
    height: 24px;
    width: 24px;
    background: url(/images/cart/cd-icon-arrow-next.svg) no-repeat center center;
    opacity: 0;
    transition: opacity .2s;
}

.cd-cart .body {
    position: relative;
    z-index: 1;
    height: calc(100% - 40px);
    padding: 20px 0 10px;
    margin: 40px 0 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: opacity .2s;
}

.cd-cart .body li:not(:last-of-type) {
    margin-bottom: 14px;
}

.cd-cart .body li.deleted + li {
    animation: cd-item-move-up .3s;
}

.cd-cart .body li.undo-deleted + li {
    animation: cd-item-move-down .3s;
}

.cd-cart .body ul {
    overflow: hidden;
    padding: 0 1.4em;
    position: relative;
    padding-bottom: 90px;
}

.cd-cart .body li {
    position: relative;
    opacity: 0;
    transform: translateX(80px);
    transition: opacity 0s .2s, transform 0s .2s;
}

.cd-cart .body li.deleted {
    /* this class is added to an item when it is removed form the cart */
    position: absolute;
    left: 1.4em;
    width: calc(100% - 2.8em);
    opacity: 0;
    animation: cd-item-slide-out .3s forwards;
}

.cd-cart .body li.deleted.undo-deleted {
    /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
    animation: cd-item-slide-in .3s forwards;
}

.cd-cart .product {
    display: grid;
    grid-template-columns: 120px 1fr 85px;
    grid-template-rows: 60px 60px;
    margin: 10px auto;
}

.cd-cart .product-image {
    width: 100%;
    grid-row: span 2;
}

.cd-cart .product-image img {
    width: 100%;
}

.cd-cart h3, .cd-cart .price {
    padding-right: 5px;
    font-weight: bold;
    font-size: 2em;
    color: #A12;
    grid-row: span 2;
    align-self: center;
    text-align: right;
}

.cd-cart .product .product-name {
    padding: 37px 15px 5px;
    font-size: 1.1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #2b3e51;
}

.cd-cart .product .product-name:hover {
    color: #2cB7de;
}

.cd-cart .actions {
    padding-left: 15px;
    font-size: 1.4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cd-cart .delete-item, .cd-cart .quantity {
    color: #808b97;
    backface-visibility: hidden;
}

.cd-cart .delete-item {
    color: #C99;
    padding-top: 3px;
    height: 20px;
    width: 50px;
}

.cd-cart .delete-item:hover {
    color: #FF4b35;
}

.cd-cart .quantity label {
    margin-right: .3em;
}

.cd-cart .select::after {
    /* switcher arrow for select element */
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 12px;
    height: 12px;
    background: url(/images/cart/cd-icon-select.svg) no-repeat center center;
    pointer-events: none;
}

.cd-cart select {
    position: relative;
    padding: 0 1em 0 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 1.4em;
    margin: 0;
    max-height:30px;
    color: #808b97;
}

.cd-cart select:focus {
    outline: none;
    color: #2b3e51;
    box-shadow: 0 1px 0 currentColor;
}

.cd-cart select::-ms-expand {
    /* hide default select arrow on IE */
    display: none;
}

.cart-open .cd-cart .wrapper {
    height: 100%;
    width: 100%;
    transition-delay: 0s;
}

.cart-open .cd-cart header, .cart-open .cd-cart .body {
    opacity: 1;
}

.cart-open .cd-cart header {
    transition: opacity .2s .2s;
}

.cart-open .cd-cart .body {
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
}

.cart-open .cd-cart .body li {
    transition: transform .3s .2s, opacity .3s .2s;
    opacity: 1;
    transform: translateX(0);
}

.cart-open .cd-cart .body li:nth-of-type(2) {
    transition-duration: .4s;
}

.cart-open .cd-cart .body li:nth-of-type(3) {
    transition-duration: .5s;
}

.cart-open .cd-cart .body li:nth-of-type(4), .cart-open .cd-cart .body li:nth-of-type(5) {
    transition-duration: .55s;
}

.cart-open .cd-cart .checkout {
    color: #ffffff;
    transition: color .2s .3s;
}

.cart-open .cd-cart .checkout em {
    transform: translateX(0);
    transition: transform .2s .3s, padding .2s 0s;

}

.cart-open .cd-cart .checkout:hover em {
    padding-right: 30px;
}

.cart-open .cd-cart .checkout:hover em::after {
    opacity: 1;
}

/*_____________MEDIA__________*/

@media screen and (max-width: 640px) {

    .cd-cart .product {
        grid-template-columns: 60px 1fr 50px;
        grid-template-rows: 30px 30px;
        margin: 3px auto;
    }

    .cd-cart .product .product-name {
        padding-top: 12px;
    }

    .cd-cart .product .price {
        font-size: 1.5em;
    }

    .cd-cart-trigger,
    .cd-cart {
        right: 15px;
        bottom: 15px;
    }

    .cd-cart .body li.deleted + li {
        animation: cd-item-move-up-mobile .3s;
        animation-fill-mode: forwards;
    }

    .cd-cart .body li.undo-deleted + li {
        animation: cd-item-move-down-mobile .3s;
        animation-fill-mode: forwards;
    }

    .cd-cart .undo {
        padding: 3px;
    }
}

@media screen and (max-width: 420px) {

    .cd-cart .checkout em {
        font-size: 1em;
    }

    .cd-cart .product .product-name {
        padding-top: 12px;
        font-size: 1.5em;
    }

    .cd-cart .product .price {
        font-size: 1.4em;
    }

    .cd-cart .actions {
        padding-left: 15px;
        font-size: 1em;
    }

}

@-webkit-keyframes cd-qty-enter {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes cd-qty-enter {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(-50%);
    }
}

@-webkit-keyframes cd-qty-leave {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(-100%);
    }
}

@keyframes cd-qty-leave {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(-100%);
    }
}

@-webkit-keyframes cd-item-move-up-mobile {
    0% {
        padding-top: 70px;
    }
    100% {
        padding-top: 0;
    }
}

@keyframes cd-item-move-up-mobile {
    0% {
        padding-top: 70px;
    }
    100% {
        padding-top: 0;
    }
}

@-webkit-keyframes cd-item-move-up {
    0% {
        padding-top: 104px;
    }
    100% {
        padding-top: 0;
    }
}

@keyframes cd-item-move-up {
    0% {
        padding-top: 104px;
    }
    100% {
        padding-top: 0;
    }
}

@-webkit-keyframes cd-item-move-down-mobile {
    0% {
        padding-top: 0;
    }
    100% {
        padding-top: 70px;
    }
}

@keyframes cd-item-move-down-mobile {
    0% {
        padding-top: 0px;
    }
    100% {
        padding-top: 70px;
    }
}

@-webkit-keyframes cd-item-move-down {
    0% {
        padding-top: 0;
    }
    100% {
        padding-top: 104px;
    }
}

@keyframes cd-item-move-down {
    0% {
        padding-top: 0;
    }
    100% {
        padding-top: 104px;
    }
}

@-webkit-keyframes cd-item-slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(80px);
        opacity: 0;
    }
}

@keyframes cd-item-slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(80px);
        opacity: 0;
    }
}

@-webkit-keyframes cd-item-slide-in {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    0% {
        transform: translateX(80px);
        opacity: 0;
    }
}

@keyframes cd-item-slide-in {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    0% {
        transform: translateX(80px);
        opacity: 0;
    }
}

@keyframes shake {
    0% { transform: skewX(-45deg); }
    5% { transform: skewX(45deg); }
    10% { transform: skewX(-45deg); }
    15% { transform: skewX(45deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}
