@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

html, body {
    color: #111;
    font-family: "Segoe UI";
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    text-align: center
}

.wrap {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header-img {
    grid-area: header;
    background: url("/images/bg-catalog.jpg");
    background-repeat: round;
    min-height: 420px;
    z-index: 1;
}

@media screen and (max-width: 1900px) {
    .header-img {
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 1000px) {
    .header-img {
        background-position-x: 50%;
    }
}

.header {
    display: grid;

    background-color: rgba(5, 5, 5, .55);
    border-radius: 7px;
    font-family: 'Tahoma', sans-serif;
    font-weight: bolder;
    text-align: center;
    grid-template-columns: 300px 1fr;
    grid-gap: 1px;
    margin: 10px;
    z-index: 2;
}

.logo {
    font-size: 32px;
    margin: auto;
    color: #ACF;
    transition: 1.5s;

}

.logo:hover {
    transform: scale(1.05);
    color: #ffeb3b;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ffe0c2, 0 0 5px #ffe0c2;
}

.logo:hover img {
    transform: rotateY(360deg);
}

.logo img {
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.nav-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1px;

}

.nav-grid a {
    /*border-radius: 5px;*/
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: #ffee7b;
    font-size: 1.2rem;
    padding: .5em 1.5em;
    transition: background-color .5s;
    border-radius: 10px;
    overflow: hidden;
}

.nav-grid a:hover {
    background-color: rgba(.5, .5, .5, .5);
    /*text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ffe0c2, 0 0 5px #ffe0c2, 0 0 6px #ffe0c2, 0 0 7px #ffe0c2, 0 0 8px #ffe0c2;*/
    text-decoration: none;
    transition: transform .2s;
}

.nav-grid a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    left: 50%;
    background-color: #ffeb3b;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ffe0c2, 0 0 5px #ffe0c2;
    position: absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}

.nav-grid a:hover:after,
.nav-grid a:focus:after {
    width: 95%;
    text-decoration: none !important;
    cursor: pointer;
}

.nav-grid a:active {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ffe0c2, 0 0 5px #ffe0c2;
    transform: scale(.97);
}

.nav-grid a:active:after {
    width: 0%;
}

.main-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 300px 1fr;
}

@media screen and (max-width: 640px) {
    .main-content, .header {
        grid-template-columns: 1fr;
        margin: 1px;
    }

}


.top-catalog {
    z-index: 99;
    background: #2d3030;
    grid-area: content;
    align-content: center;
    justify-self: center;
    width: 90%;
    opacity: 0;
    height: calc(925px - 38vw);
    transition: opacity .5s;
    padding: 1rem .3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
}

.left {
    background: rgba(150, 200, 255, .75);
    border-radius: 10px;
    margin: .5rem;
    padding: 1rem .3rem;
    margin-top: 3rem;
}

.article {
    /*background: yellow;*/
    border-radius: 10px;
    margin: .5rem;
    padding: 1rem .3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    justify-content: end;
}

.article .div {
    width: 95%;
    height: 500px;
    padding: 2em;
    text-align: center;
    border-radius: 1em;
    /*background: yellow;*/
    transition: transform 0.5s, background-color 2s;

}

.article .div:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #CFD;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background: black;
    color: #EEE;
    text-align: center;
    padding: 1rem .5rem;
}


